//https://getbootstrap.com/docs/5.0/customize/color/
//https://colorhunt.co/

$primary: #003366;
$secondary: rgba(96, 133, 169, 0.5);
$danger: #D20F26;
$dark: rgb(87, 86, 86);
$light: #eff2f5;
$info: #f6f8fa;
$ticket: rgb(228, 228, 228);