<% include /src/include/header.ejs %>

<main class="Site-content bg-info">  
    <div class="container-xl">
      <div class="border-bottom p-2 d-none d-md-flex tickets"> 
        <span class="text-dark me-2 mt-1">بخوانید:</span>
        <a href="#" class="text-primary p-1 px-2 mx-1 rounded-2">#عرضه اولیه</a>
        <a href="#" class="text-primary p-1 px-2 mx-1 rounded-2">#گزارش بازارها</a>
        <a href="#" class="text-primary p-1 px-2 mx-1 rounded-2">#یارانه جدید</a>
        <a href="#" class="text-primary p-1 px-2 mx-1 rounded-2">#یارانه نان</a>
      </div>
      <div class="border-bottom p-2 d-flex lists">
        <a href="#" class="p-1 px-2 mx-1">تجارت نیوز</a>
        <img class="h-50 pt-2" src="https://img.icons8.com/external-those-icons-fill-those-icons/12/c4d0da/external-left-arrows-those-icons-fill-those-icons-4.png"/>
        <a href="#" class="p-1 px-2 mx-1">بازار</a>
      </div> 
      <div class="images container-xl d-flex flex-column flex-lg-row m-4">
        <div class="col-12 col-lg-6">
            <figure>
                <img class="w-100 d-block pe-4" src="./images/عرضه خودرو.jpg" alt="">
            </figure>
        </div>
        <div class="d-none d-md-flex row col-lg-6 pe-4">
            <figure class="col-6">
                <img class="w-100" src="./images/قیمت خودرو.jpg" alt="">
            </figure>
            <figure class="col-6">
                <img class="w-100" src="./images/واکنش ها.jpg" alt="">
            </figure>
            <figure class="col-6">
                <img class="w-100" src="./images/بورس.jpg" alt="">
            </figure>
            <figure class="col-6">
                <img class="w-100" src="./images/طرح فروش.jpg" alt="">
            </figure>
        </div>
      </div>
      <div class="row pt-1">
        <!-- center -->
        <div class="col-12 col-lg-8 divide">
          <div class="d-flex flex-column bg-white border mt-2 p-2">
            <h2 class="text-primary fw-bold my-2 d-block dot-title position-relative ps-4">اخبار خودرو</h2>
            <div class="d-flex row my-3 news-box">
              <div class="col-4 col-md-5 order-2 order-md-1">
                <img src="./images/وارداتخودرو-800x458.jpg" class="d-block w-100" alt="">
              </div>
              <div class="d-flex flex-column col-8 col-md-7 order-1 order-md-2">
                <span class="text-secondary order-2 order-md-1">20 ساعت پیش</span>
                <a href="#" class="text-primary fs-3 lh-sm order-1 order-md-2">تعرفه واردات خودرو تغییر می‌کند؟</a>
                <p class="fs-normal d-none d-md-block order-md-3"> گام‌های اولیه آزادسازی واردات خودرو برداشته شده است. اما در پی اعلام تعرفه‌های ورود خودرو به کشور، برخی نسبت به آنها انتقاد دارند. آیا ممکن است تعرفه‌های اعلام شده تغییری کند؟</p>
              </div>
            </div>
            <div class="d-flex flex-row row my-3 news-box">
              <div class="col-4 col-md-5 order-2 order-md-1">
                <img src="./images/دکتر-منوچهر-منطقی-800x458.jpg" class="d-block w-100" alt="">
              </div>
              <div class="d-flex flex-column col-8 col-md-7 order-1 order-md-2">
                <span class="text-secondary order-2 order-md-1">21 ساعت پیش</span>
                <a href="#" class="text-primary fs-3 lh-sm order-1 order-md-2">افزایش نظارت با سامانه فروش یکپارچه خودرو</a>
                <p class="fs-normal d-none d-md-block order-md-3">معاون وزیر صمت در خصوص نحوه کارکرد سامانه متمرکز قرعه کشی خودرو، گفت: به‌جای تعداد محدودی خودرو در ماه، چند ماه یک بار در معرض فروش قرار داده خواهد شد.</p>
              </div>
            </div> 
            <div class="d-flex flex-row row my-3 news-box">
              <div class="col-4 col-md-5 order-2 order-md-1">
                <img src="./images/کوئیک-کوییک-800x458.png" class="d-block w-100" alt="">
              </div>
              <div class="d-flex flex-column col-8 col-md-7 order-1 order-md-2">
                <span class="text-secondary order-2 order-md-1">21 ساعت پیش</span>
                <a href="#" class="text-primary fs-3 lh-sm order-1 order-md-2">قیمت محصولات سایپا/ امروز ۲۷ اردیبهشت ۱۴۰۱</a>
                <p class="fs-normal d-none d-md-block order-md-3">نوسان قیمت خودرو ادامه دارد. کارشناسان معتقدند با آزادسازی واردات ممکن است قیمت‌ها تغییر کند. در این میان، محصولات سایپا چه قیمتی دارند؟</p>
              </div>
            </div>   
            <div class="m-auto">
              <nav aria-label="Page navigation">
                <ul class="pagination">
                  <li class="page-item m-1">
                    <a class="page-link rounded-circle" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item m-1"><a class="page-link rounded-circle" href="#">1</a></li>
                  <li class="page-item m-1"><a class="page-link rounded-circle" href="#">2</a></li>
                  <li class="page-item m-1"><a class="page-link rounded-circle" href="#">3</a></li>
                  <li class="page-item m-1">
                    <a class="page-link rounded-circle" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="mx-2">
              <span class="fs-3 text-primary fw-bold my-2 d-block dot-title position-relative ps-4">پربازدید های اخبار خودرو</span>
              <ul class="p-0 py-2 m-0 row">
                <li class="d-flex row px-2 m-0 my-2 left-imgs col-12 col-md-6">
                  <img src="./images/خودرو-800x458.jpg" class="d-block col-5 p-0" alt="">
                  <div class="col-7 d-flex flex-column">
                    <span class="fs-6 text-secondary">اخبار خودرو</span>
                    <a href="#" class="fw-bold text-primary">قیمت‌ها در سامانه یکپارچه فروش خودرو چگونه تعیین می‌شود؟</a>
                  </div>
                </li>
                <li class="d-flex row px-2 m-0 my-2 left-imgs col-12 col-md-6">
                  <img src="./images/خودرو-800x458.jpg" class="d-block col-5 p-0" alt="">
                  <div class="col-7 d-flex flex-column">
                    <span class="fs-6 text-secondary">اخبار خودرو</span>
                    <a href="#" class="fw-bold text-primary">قیمت‌ها در سامانه یکپارچه فروش خودرو چگونه تعیین می‌شود؟</a>
                  </div>
                </li>
                <li class="d-flex row px-2 m-0 my-2 left-imgs col-12 col-md-6">
                  <img src="./images/خودرو-800x458.jpg" class="d-block col-5 p-0" alt="">
                  <div class="col-7 d-flex flex-column">
                    <span class="fs-6 text-secondary">اخبار خودرو</span>
                    <a href="#" class="fw-bold text-primary">قیمت‌ها در سامانه یکپارچه فروش خودرو چگونه تعیین می‌شود؟</a>
                  </div>
                </li>
                <li class="d-flex row px-2 m-0 my-2 left-imgs col-12 col-md-6">
                  <img src="./images/خودرو-800x458.jpg" class="d-block col-5 p-0" alt="">
                  <div class="col-7 d-flex flex-column">
                    <span class="fs-6 text-secondary">اخبار خودرو</span>
                    <a href="#" class="fw-bold text-primary">قیمت‌ها در سامانه یکپارچه فروش خودرو چگونه تعیین می‌شود؟</a>
                  </div>
                </li>
              </ul>
            </div>            
          </div>
        </div>
        <!-- end-of-center -->
        <div class="d-none d-lg-block col-md-4 col-lg-4 divide">
          <div class="d-flex flex-column bg-white mt-2">
            <div class="mx-2">
              <span class="fs-3 text-primary fw-bold my-2 d-block dot-title position-relative ps-4">پربازدید های امروز</span>
              <ul class="advertise p-0 py-2 m-0">
                <li class="d-flex row p-0 px-2 m-0 my-1 left-imgs">
                  <img src="./images/ul.jpg" class="d-block col-5 p-0" alt="">
                  <a href="#" class="col-7 fw-bold">ایرانسل باز هم روابط‌عمومی «سرآمد دیجیتال» ایران شد</a>
                </li>
                <li class="d-flex row p-0 px-2 m-0 my-1 left-imgs">
                  <img src="./images/ul.jpg" class="d-block col-5 p-0" alt="">
                  <a href="#" class="col-7 fw-bold">ایرانسل باز هم روابط‌عمومی «سرآمد دیجیتال» ایران شد</a>
                </li>
                <li class="d-flex row p-0 px-2 m-0 my-1 left-imgs">
                  <img src="./images/ul.jpg" class="d-block col-5 p-0" alt="">
                  <a href="#" class="col-7 fw-bold">ایرانسل باز هم روابط‌عمومی «سرآمد دیجیتال» ایران شد</a>
                </li>
              </ul>
            </div>
            <div class="mx-2">
              <span class="fs-3 text-primary fw-bold my-2 d-block dot-title position-relative ps-4">ویدیوی امروز</span>
              <figure class="position-relative">
                <a href="#">
                  <img src="./images/بهمن-موتور-3-800x458.jpg" class="w-100" alt="">
                  <img class="play-icon position-absolute top-50 start-50 translate-middle" src="https://img.icons8.com/ios/50/ffffff/circled-play--v1.png"/>
                </a>
              </figure>
              <a href="#" class="fs-5 fw-bold text-primary my-2 d-block">افتتاحیه نمایشگاه خودرو در تهران/ چه خودروهایی رونمایی شدند؟(ویدیو)</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

<% include /src/include/footer.ejs %>