<% include /src/include/header.ejs %>

<main class="Site-content bg-info">
  <div class="owl-carousel owl-theme p-3 m-auto bg-light">
      <div class="item">
        <img src="./images/banner.jpeg" class="d-none d-lg-block m-auto w-50" alt="">
      </div>
      <div class="item">
        <img src="./images/banner2.jpeg" class="d-none d-lg-block m-auto w-50" alt="">
      </div>
      <div class="item">
        <img src="./images/banner3.jpeg" class="d-none d-lg-block m-auto w-50" alt="">
      </div>
  </div>
  <div class="container-xl">
    <div class="row">
      <div class="col-12 col-lg-3 divide">
          <div class="d-flex flex-column bg-white border m-2">
            <div class="border-bottom m-2 red-news">
              <span class="pb-2 text-nowrap">کلیپ های اختصاصی</span>
              <div class="d-flex flex-row">
                <img src="./images/image (2).webp" class="w-50 h-50 mt-2 play-after" alt="">
                <div class="mx-3">
                  <a href="#" class="text-danger fs-7 u-link text-nowrap">لورم ایپسوم</a>
                  <a href="#"><p class="text-primary fs-7 u-link">متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p></a>
                </div>
              </div>
            </div>
            <div class="border-bottom m-2 red-news">
              <div class="d-flex flex-row">
                <img src="./images/image (1).webp" class="w-50 h-50 mt-2 play-after" alt="">
                <div class="mx-3">
                  <a href="#" class="text-danger fs-7 u-link text-nowrap">لورم ایپسوم</a>
                  <a href="#"><p class="text-primary fs-7 u-link">متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p></a>
                </div>
              </div>
            </div>
            <div class="m-2 red-news">
              <div class="d-flex flex-row">
                <img src="./images/image.webp" class="w-50 h-50 mt-2 play-after" alt="">
                <div class="mx-3">
                  <a href="#" class="text-danger fs-7 u-link text-nowrap">لورم ایپسوم</a>
                  <a href="#"><p class="text-primary fs-7 u-link">متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p></a>
                </div>
              </div>
            </div>
          </div>
      </div>
      <!-- center -->
      <div class="col-12 col-lg-6 divide">
        <div class="d-flex flex-column bg-white border mt-2">
          <div>
            <div class="position-relative">
              <img src="./images/1.webp" class="d-block w-100" alt="">
              <span class="position-absolute bottom-0 right-0 label p-2 ms-4 text-white fw-bold fs-5">لورم ایپسوم</span>
            </div>
            <span class="text-primary fw-bold fs-5 d-block m-1 mx-4 u-link">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</span>
          </div>
          <div class="d-flex flex-row justify-content-evenly">
            <div class="m-3">
              <div class="position-relative">
                <img src="./images/2.webp" class="d-block w-100" alt="">
                <span class="position-absolute bottom-0 right-0 label p-2 ms-4 text-white fw-bold fs-6">لورم ایپسوم</span>
              </div>
              <span class="text-primary fw-bold fs-6 d-block m-1 mx-4 u-link">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ است</span>
            </div>
            <div class="m-3">
              <div class="position-relative">
                <img src="./images/3.webp" class="d-block w-100" alt="">
                <span class="position-absolute bottom-0 right-0 label p-2 ms-4 text-white fw-bold fs-6">لورم ایپسوم</span>
              </div>
              <span class="text-primary fw-bold fs-6 d-block m-1 mx-4 u-link">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ است</span>
            </div>
          </div>
          <div class="d-flex flex-row justify-content-evenly">
            <div class="m-3">
              <div class="position-relative">
                <img src="./images/4.webp" class="d-block w-100" alt="">
                <span class="position-absolute bottom-0 right-0 label p-2 ms-4 text-white fw-bold fs-6">لورم ایپسوم</span>
              </div>
              <span class="text-primary fw-bold fs-6 d-block m-1 mx-4 u-link">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ است</span>
            </div>
            <div class="m-3">
              <div class="position-relative">
                <img src="./images/5.webp" class="d-block w-100" alt="">
                <span class="position-absolute bottom-0 right-0 label p-2 ms-4 text-white fw-bold fs-6">لورم ایپسوم</span>
              </div>
              <span class="text-primary fw-bold fs-6 d-block m-1 mx-4 u-link">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ است</span>
            </div>
          </div>
          <div class="d-flex flex-row border-top m-3 mb-1">
            <div class="w-50 d-flex justify-content-center align-items-center">
              <img src="./images/ELON-MUSK-LOS-ANGELES.webp" class="w-100 d-block" alt="">
            </div>
            <div class="d-flex flex-column p-2">
              <a href="#" class="text-secondary u-link">لورم</a>
              <a href="#" class="text-primary lh-sm u-link">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</a>
            </div>
          </div>
          <div class="d-flex flex-row border-top m-3 mb-1">
            <div class="w-50 d-flex justify-content-center align-items-center">
              <img src="./images/aeafafeaf564795b87775dbb0850e098.webp" class="w-100 d-block" alt="">
            </div>
            <div class="d-flex flex-column p-2">
              <a href="#" class="text-secondary u-link">لورم</a>
              <a href="#" class="text-primary lh-sm u-link">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</a>
            </div>
          </div>
        </div>
      </div>
      <!-- end-center -->
      <div class="col-12 col-lg-3 divide">
        <div class="d-flex flex-column mt-2">
          <div class="card bg-white border">
            <button class="btn btn-danger m-3 w-25 fs-7 text-nowrap">پیوستن</button>
            <div class="d-flex flex-row flex-lg-column">
              <img src="./images/foxnation.webp" class="mx-3 this-img" alt="">
              <div class="card-body">
                <a href="#" class="card-text text-danger fs-6 u-link d-block">تیتر</a>
                <a href="#" class="card-text text-primary fs-7 u-link lh-1">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</a>
              </div>
            </div>

          </div>
          <div class="d-flex flex-column border bg-white mt-3">
            <span class="m-2 p-2">جنگ روسیه علیه اوکراین</span>
            <div class="border-bottom mx-3">
              <a href="#" class="text-primary u-link fs-7 d-block p-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است </a>
            </div>
            <div class="border-bottom mx-3">
              <a href="#" class="text-primary u-link fs-7 d-block p-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است </a>
            </div>
            <div class="mx-3">
              <a href="#" class="text-primary u-link fs-7 d-block p-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است </a>
            </div>
          </div>
          <div class="d-flex flex-column border bg-white mt-3 p-3">
            <div>
              <span class="fs-7 fw-bold">واکسن یاب</span>
              <p class="text-secondary fs-7">واکسن های نزدیک خود را پیدا کنید</p>
            </div>
            <span class="fs-7 fw-bold">نمایش واکسن های کووید19</span>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label fs-7" for="flexCheckDefault">
                لورم ایپسوم
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <label class="form-check-label fs-7" for="flexCheckChecked">
                لورم ایپسوم
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
              <label class="form-check-label fs-7" for="flexCheckChecked">
                لورم ایپسوم
              </label>
            </div>
            <div class="d-flex flex-row">
              <div class="d-flex flex-column w-50 m-1">
                <label class="form-label fs-7 pt-3">کد 5رقمی</label>
                <input type="text" class="form-control" placeholder="کد">
              </div>
              <div class="d-flex flex-column w-50 m-1">
                <label class="form-label fs-7 pt-3">شعاع جستجو</label>
                <select class="form-select fs-7 p-2" aria-label="Default select example">
                  <option selected>25 مایل</option>
                  <option value="1">1مایل</option>
                  <option value="2">10مایل</option>
                  <option value="3">20مایل</option>
                </select>
              </div>
            </div>
            <button class="btn btn-primary m-2">جستجوی واکسن</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- second-section -->
  <div class="w-100 divider bg-dark my-4"></div>
  <div class="container">
    <div class="news-box">
      <div class="d-flex justify-content-between py-2">
        <a href="#" class="text-primary fs-4 fw-bold title">کسب و کار</a>
        <a href="#" class="text-primary fs-7 fw-bold">مشاهده همه</a>
      </div>
      <div class="border d-flex flex-column flex-lg-row">
        <div class="w-100 w-lg-50 position-relative">
          <img src="./images/GettyImages-813808652.webp" class="d-block w-100 h-100" alt="">
          <span class="position-absolute right-0 bottom-0 d-block">
            <a href="#" class="text-white fs-7 px-4 u-link">لورم</a>
            <a href="#" class="text-white bw-bold px-4 pb-3 d-block fs-6 label-shadow">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</a>
          </span>
        </div>
        <div class="d-flex flex-column w-100 h-100 w-lg-50 justify-content-start">
          <div class="mx-4 border-bottom">
            <a href="#" class="text-secondary u-link">اقتصاد</a>
            <p><a href="#" class="u-link text-primary bw-bold">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ است</a></p>
          </div>
          <div class="mx-4 border-bottom">
            <a href="#" class="text-secondary u-link">انرژی</a>
            <p><a href="#" class="u-link text-primary bw-bold">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ است</a></p>
          </div>
          <div class="mx-4 border-bottom">
            <a href="#" class="text-secondary u-link">درآمد</a>
            <p><a href="#" class="u-link text-primary bw-bold">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ است</a></p>
          </div>
          <div class="mx-4">
            <a href="#" class="text-secondary u-link">درآمد</a>
            <p><a href="#" class="u-link text-primary bw-bold">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ است</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4 news-box">
      <div class="d-flex justify-content-between py-2">
        <a href="#" class="text-primary fs-6 fw-bold title">اخبار فاکس نیوز</a>
        <a href="#" class="text-primary fs-7 fw-bold">مشاهده همه</a>
      </div>
      <div class="border d-flex flex-column flex-lg-row">
        <div class="w-100 w-lg-50 position-relative">
          <img src="./images/foxnewsflash.webp" class="d-block w-100 h-100" alt="">
          <span class="position-absolute right-0 bottom-0 d-block">
            <a href="#" class="text-white fs-7 px-4 u-link">لورم</a>
            <a href="#" class="text-white bw-bold px-4 pb-3 d-block fs-6 label-shadow">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</a>
          </span>
        </div>
        <div class="d-flex flex-column w-100 h-100 w-lg-50 justify-content-start">
          <div class="mx-4 border-bottom">
            <a href="#" class="text-secondary u-link">رسانه</a>
            <p><a href="#" class="u-link text-primary bw-bold">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ است</a></p>
          </div>
          <div class="mx-4 border-bottom">
            <a href="#" class="text-secondary u-link">رسانه</a>
            <p><a href="#" class="u-link text-primary bw-bold">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ است</a></p>
          </div>
          <div class="mx-4 border-bottom">
            <a href="#" class="text-secondary u-link">نظرات</a>
            <p><a href="#" class="u-link text-primary bw-bold">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ است</a></p>
          </div>
          <div class="mx-4">
            <a href="#" class="text-secondary u-link">نظرات</a>
            <p><a href="#" class="u-link text-primary bw-bold">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ است</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4 news-box">
      <div class="d-flex justify-content-between py-2">
        <a href="#" class="text-primary fs-6 fw-bold title">مسافرت</a>
        <a href="#" class="text-primary fs-7 fw-bold">مشاهده همه</a>
      </div>
      <div class="border d-flex flex-column flex-lg-row">
        <div class="w-100 w-lg-50 position-relative">
          <img src="./images/travel.webp" class="d-block w-100 h-100" alt="">
          <span class="position-absolute right-0 bottom-0 d-block">
            <a href="#" class="text-white fs-7 px-4 u-link">لورم</a>
            <a href="#" class="text-white bw-bold px-4 pb-3 d-block fs-6 label-shadow">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</a>
          </span>
        </div>
        <div class="d-flex flex-column w-100 h-100 w-lg-50 justify-content-start">
          <div class="mx-4 border-bottom">
            <a href="#" class="text-secondary u-link">سبک زندگی</a>
            <p><a href="#" class="u-link text-primary bw-bold">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ است</a></p>
          </div>
          <div class="mx-4 border-bottom">
            <a href="#" class="text-secondary u-link">سبک زندگی</a>
            <p><a href="#" class="u-link text-primary bw-bold">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ است</a></p>
          </div>
          <div class="mx-4 border-bottom">
            <a href="#" class="text-secondary u-link">سفر</a>
            <p><a href="#" class="u-link text-primary bw-bold">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ است</a></p>
          </div>
          <div class="mx-4">
            <a href="#" class="text-secondary u-link">سفر</a>
            <p><a href="#" class="u-link text-primary bw-bold">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ است</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
  
<% include /src/include/footer.ejs %>