<footer class="bg-primary mt-5">
<div class="container">
    <div class="row">
        <div class="col-6 col-md-3 col-lg-2 mt-5 my-md-5">
            <h6><a href="#" class="text-white fw-bold u-link">آمریکا</a></h6>
            <ul class="list-unstyled lh-sm">
                <li class="u-link"><a href="#" class="text-white fs-7">جرائم</a></l fs-7i>
                <li class="u-link"><a href="#" class="text-white fs-7">نظامی</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">تحصیلات</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">وحشت</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">مهاجرت</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">اقتصاد</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">آزادی شخصی</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">تحقیقات</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">نسخه دیجیتال</a></li>
            </ul>
        </div>
        <div class="col-6 col-md-3 col-lg-2 mt-5 my-md-5">
            <h6><a href="#" class="text-white fw-bold u-link">جهان</a></h6>
            <ul class="list-unstyled lh-sm">
                <li class="u-link"><a href="#" class="text-white fs-7">سازمان ملل متحد</a></l fs-7i>
                <li class="u-link"><a href="#" class="text-white fs-7">درگیری ها</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">تروریسم</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">حوادث</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">اقتصاد جهانی</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">محیط</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">دین</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">رسوایی ها</a></li>
            </ul>
        </div>
        <div class="col-6 col-md-3 col-lg-2 mt-5 my-md-5">
            <h6><a href="#" class="text-white fw-bold u-link">سیاست</a></h6>
            <ul class="list-unstyled lh-sm">
                <li class="u-link"><a href="#" class="text-white fs-7">اجرایی</a></l fs-7i>
                <li class="u-link"><a href="#" class="text-white fs-7">مجلس سنا</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">خانه</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">قوه قضائیه</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">سیاست خارجی</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">نظرسنجی ها</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">انتخابات</a></li>
            </ul>
        </div>
        <div class="col-6 col-md-3 col-lg-2 mt-5 my-md-5">
            <h6><a href="#" class="text-white fw-bold u-link">سرگرمی</a></h6>
            <ul class="list-unstyled lh-sm">
                <li class="u-link"><a href="#" class="text-white fs-7">اخبار سلبریتی ها</a></l fs-7i>
                <li class="u-link"><a href="#" class="text-white fs-7">فیلم ها</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">اخبار تلویزیون</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">اخبار موسیقی</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">استایل</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">سرگرمی</a></li>
            </ul>
        </div>  
        <div class="col-6 col-md-3 col-lg-2 mt-5 my-md-5">
            <h6><a href="#" class="text-white fw-bold u-link">کسب و کار</a></h6>
            <ul class="list-unstyled lh-sm">
                <li class="u-link"><a href="#" class="text-white fs-7">امور مالی</a></l fs-7i>
                <li class="u-link"><a href="#" class="text-white fs-7">اقتصاد</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">بازارها</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">لیست پیگیری</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">سبک زندگی</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">مشاور املاک</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">فناوری</a></li>
            </ul>
        </div>  
        <div class="col-6 col-md-3 col-lg-2 mt-5 my-md-5">
            <h6><a href="#" class="text-white fw-bold u-link">سبک زندگی</a></h6>
            <ul class="list-unstyled lh-sm">
                <li class="u-link"><a href="#" class="text-white fs-7">غذا</a></l fs-7i>
                <li class="u-link"><a href="#" class="text-white fs-7">حمل و نقل</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">مسافرت</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">خانه</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">تناسب اندام</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">زیبایی</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">خانواده</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">ایمان</a></li>
            </ul>
        </div>  
        <div class="col-6 col-md-3 col-lg-2 mt-5 my-md-5">
            <h6><a href="#" class="text-white fw-bold u-link">آمریکا</a></h6>
            <ul class="list-unstyled lh-sm">
                <li class="u-link"><a href="#" class="text-white fs-7">جرائم</a></l fs-7i>
                <li class="u-link"><a href="#" class="text-white fs-7">نظامی</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">تحصیلات</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">وحشت</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">مهاجرت</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">اقتصاد</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">آزادی شخصی</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">تحقیقات</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">نسخه دیجیتال</a></li>
            </ul>
        </div>
        <div class="col-6 col-md-3 col-lg-2 mt-5 my-md-5">
            <h6><a href="#" class="text-white fw-bold u-link">جهان</a></h6>
            <ul class="list-unstyled lh-sm">
                <li class="u-link"><a href="#" class="text-white fs-7">سازمان ملل متحد</a></l fs-7i>
                <li class="u-link"><a href="#" class="text-white fs-7">درگیری ها</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">تروریسم</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">حوادث</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">اقتصاد جهانی</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">محیط</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">دین</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">رسوایی ها</a></li>
            </ul>
        </div>
        <div class="col-6 col-md-3 col-lg-2 mt-5 my-md-5">
            <h6><a href="#" class="text-white fw-bold u-link">سیاست</a></h6>
            <ul class="list-unstyled lh-sm">
                <li class="u-link"><a href="#" class="text-white fs-7">اجرایی</a></l fs-7i>
                <li class="u-link"><a href="#" class="text-white fs-7">مجلس سنا</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">خانه</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">قوه قضائیه</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">سیاست خارجی</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">نظرسنجی ها</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">انتخابات</a></li>
            </ul>
        </div>
        <div class="col-6 col-md-3 col-lg-2 mt-5 my-md-5">
            <h6><a href="#" class="text-white fw-bold u-link">سرگرمی</a></h6>
            <ul class="list-unstyled lh-sm">
                <li class="u-link"><a href="#" class="text-white fs-7">اخبار سلبریتی ها</a></l fs-7i>
                <li class="u-link"><a href="#" class="text-white fs-7">فیلم ها</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">اخبار تلویزیون</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">اخبار موسیقی</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">استایل</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">سرگرمی</a></li>
            </ul>
        </div>  
        <div class="col-6 col-md-3 col-lg-2 mt-5 my-md-5">
            <h6><a href="#" class="text-white fw-bold u-link">کسب و کار</a></h6>
            <ul class="list-unstyled lh-sm">
                <li class="u-link"><a href="#" class="text-white fs-7">امور مالی</a></l fs-7i>
                <li class="u-link"><a href="#" class="text-white fs-7">اقتصاد</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">بازارها</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">لیست پیگیری</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">سبک زندگی</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">مشاور املاک</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">فناوری</a></li>
            </ul>
        </div>  
        <div class="col-6 col-md-3 col-lg-2 mt-5 my-md-5">
            <h6><a href="#" class="text-white fw-bold u-link">سبک زندگی</a></h6>
            <ul class="list-unstyled lh-sm">
                <li class="u-link"><a href="#" class="text-white fs-7">غذا</a></l fs-7i>
                <li class="u-link"><a href="#" class="text-white fs-7">حمل و نقل</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">مسافرت</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">خانه</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">تناسب اندام</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">زیبایی</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">خانواده</a></li>
                <li class="u-link"><a href="#" class="text-white fs-7">ایمان</a></li>
            </ul>
        </div>  
    </div>
    <div class="border-top border-secondary p-2 py-4 d-flex flex-column align-items-center flex-lg-row-reverse align-items-lg-start justify-content-between">
        <div>
            <ul class="list-unstyled d-flex social-icons">
                <li><a href="#" class="d-block position-relative facebook"><img src="https://img.icons8.com/ios-glyphs/20/ffffff/facebook-f.png"/></a></li>
                <li><a href="#" class="d-block position-relative twitter"><img src="https://img.icons8.com/ios-glyphs/20/ffffff/twitter--v1.png"/></a></li>
                <li><a href="#" class="d-block position-relative instagram"><img src="https://img.icons8.com/ios/20/ffffff/instagram-new--v1.png"/></a></li>
                <li><a href="#" class="d-block position-relative youtube"><img src="https://img.icons8.com/ios-filled/20/ffffff/youtube-play.png"/></a></li>
                <li><a href="#" class="d-block position-relative flipboard"><img src="https://img.icons8.com/external-tal-revivo-bold-tal-revivo/20/ffffff/external-flipboard-a-news-aggregator-and-social-network-aggregation-company-logo-bold-tal-revivo.png"/></a></li>     
                <li><a href="#" class="d-block position-relative linkedin"><img src="https://img.icons8.com/ios-glyphs/20/ffffff/linkedin-2--v1.png"/></a></li>
                <li><a href="#" class="d-block position-relative slack"><img src="https://img.icons8.com/windows/20/ffffff/slack-new.png"/></a></li>
                <li><a href="#" class="d-block position-relative youtube"><img src="https://img.icons8.com/ios-filled/20/ffffff/youtube-play.png"/></a></li>    
                <li><a href="#" class="d-block position-relative letter"><img src="https://img.icons8.com/external-smashingstocks-glyph-smashing-stocks/20/ffffff/external-letter-mailing-smashingstocks-glyph-smashing-stocks-2.png"/></a></li>
                <li><a href="#" class="d-block position-relative spotify"><img src="https://img.icons8.com/metro/20/ffffff/spotify.png"/></a></li>
                <li><a href="#" class="d-block position-relative youtube"><img src="https://img.icons8.com/ios-filled/20/ffffff/youtube-play.png"/></a></li>
            </ul>
        </div>
        <div class="d-flex py-2">
            <div class="mx-3 brand-img"><a href="#" class="d-block"></a></div>
            <div class="d-flex flex-column">
                <ul class="fs-7 list-unstyled d-flex flex-wrap">
                    <li><a href="#" class="text-white px-1 my-2 border-end">شرایط جدیداستفاده</a></li>
                    <li><a href="#" class="text-white px-1 my-2 border-end">سیاست حفظ حریم خصوصی</a></li>
                    <li><a href="#" class="text-white px-1 my-2 border-end">اطلاعات شخصی</a></li>
                    <li><a href="#" class="text-white px-1 my-2 border-end">راهنمایی</a></li>
                    <li><a href="#" class="text-white px-1 my-2 border-end">ارتباط با ما</a></li>
                    <li><a href="#" class="text-white px-1 my-2 border-end">لورم</a></li>
                    <li><a href="#" class="text-white px-1 my-2">لورم ایپسوم</a></li>
                </ul>
                <p class="fs-7 text-light">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای <a href="#" class="fs-7 text-white">شرایط فعلی تکنولوژی مورد نیاز</a> با هدف بهبود ابزارهای کاربردی می باشد</p>
            </div>
        </div>
    </div>
</div>
</footer>
<% include /scripts.ejs %>
</body>
</html>
