<!doctype html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">
    <title>sample home</title>
    <% include /styles.ejs %>
</head>
<body  class="Site">
  <header>
    <nav class="navbar bg-primary border-top border-3 border-danger pt-0">
      <div class="container-lg">
        <div class="row">
          <div class="d-flex">
            <ul class="nav d-flex pt-1">
              <li class="nav-item">
                <a class="navbar-barnd pe-2" href="#">
                  <img src="../images/fox-news-logo.svg" class="d-none d-md-block" alt="">
                  <img src="../images/fox-news-logo-fox-life-hd-png.png" class="d-block d-md-none" alt="">
                </a>
              </li>
              <li class="nav-item d-none d-md-block">
                <a class="nav-link text-white fs-6 boreder rounded" href="#">آمریکا</a>
              </li>
              <li class="nav-item d-none d-md-block">
                <a class="nav-link text-white fs-6 boreder rounded" href="#">سیاست</a>
              </li>
              <li class="nav-item d-none d-md-block">
                <a class="nav-link text-white fs-6 boreder rounded" href="#">رسانه</a>
              </li>
              <li class="nav-item d-none d-md-block">
                <a class="nav-link text-white fs-6 boreder rounded" href="#">نظر</a>
              </li>
              <li class="nav-item d-none d-md-block">
                <a class="nav-link text-white fs-6 boreder rounded" href="#">کسب و کار</a>
              </li>
              <li class="nav-item d-none d-md-block">
                <a class="nav-link text-white fs-6 boreder rounded" href="#">سرگرمی</a>
              </li>
              <li class="nav-item d-none d-md-block">
                <a class="nav-link text-white fs-6 boreder rounded" href="#">ورزش</a>
              </li>
              <li class="nav-item d-none d-md-block">
                <a class="nav-link text-white fs-6 boreder rounded" href="#">سبک زندگی</a>
              </li>
              <li class="nav-item d-none d-md-block">
                <a class="nav-link text-white fs-6 boreder rounded" href="#">آب و هوا</a>
              </li>
              <li class="nav-item d-none d-md-block">
                <a class="nav-link text-white fs-6 boreder rounded" href="#">تلویزیون</a>
              </li>
              <li class="nav-item d-none d-md-block">
                <a class="nav-link text-white fs-6 boreder rounded" href="#">ملت</a>
              </li>
              <li class="nav-item d-none d-md-block">
                <a class="nav-link text-white fs-6 boreder rounded" href="#">شنیدن</a>
              </li>
              <li class="nav-item d-none d-md-block">
                <a class="nav-link text-white fs-6 boreder rounded" href="#">بیشتر:</a>
              </li>
            </ul>
            <div class="d-flex nav-buttons ms-5 ps-5">
              <a href="#"><img class="d-block" src="https://img.icons8.com/fluency-systems-regular/20/ffffff/search--v1.png"/></a>
              <button type="button" class="btn btn-danger m-1 text-nowrap">تماشا</button>
            </div>
            <button type="button" class="btn menu d-block d-md-none"><img src="https://img.icons8.com/ios-filled/30/ffffff/menu--v1.png"/></button>
          </div>
        </div>
      </div>
    </nav>
    <nav class="overflow-hidden pt-1 d-none d-md-block">
      <div class="container">
        <div class="row">
          <div class="d-flex justify-content-between w-75 m-auto bg-white">
            <div class="pt-1 zin">
              <ul  class="d-flex list-unstyled fs-7">
                <span class="text-danger mx-1 lh-lg">موضوعات داغ</span>
                <li class="m-1 px-1 text-primary border-end"><a class="u-link link-primary" href="#">لورم ایپسوم</a></li>
                <li class="m-1 text-primary"><a href="#" class="u-link link-primary">لورم ایپسوم</a></li>
              </ul>
            </div>
            <div class="pt-1 zin">
              <ul  class="d-flex list-unstyled fs-7">
                <span class="text-danger mx-1 lh-lg">فروشگاه ها</span>
                <li class="m-1 px-1 text-primary border-end"><a href="#" class="u-link link-primary">لورم</a></li>
                <li class="m-1 px-1 text-primary border-end"><a href="#" class="u-link link-primary">لورم</a></li>
                <li class="m-1 px-1 text-primary border-end link-primary"><a href="#" class="u-link link-primary">لورم</a></li>
                <li class="m-1 text-primary"><a href="#" class="u-link link-primary">بیشتر</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>